.buttons {
    margin-bottom: 2rem;
}

.button {
    background-color: #ffed49;
    border: 1px solid #2b2b2b;
    padding: .3rem 1rem;
    margin-right: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    color: #212529;
}

.button:focus {
    outline: none;
}

.button:last-of-type {
    margin-right: 0;
}

.button.admin {
    background-color: #fff;
}

.processing {
    opacity: .5;
    pointer-events: none;
}

.errorMessage,
.errorMessageMain {
    margin-bottom: 1rem;
    color: red;
}

.error {
    border: 2px solid red;
}

.taskForm__wrap {
    position: relative;
    margin: 1rem 0;
}

.taskForm__wrap .close {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
}

.taskForm__wrap .success-send {
    padding: 2rem 0;
    font-size: 1.4rem;
}

.taskForm input {
    width: 100%;
    margin-bottom: 1rem;
}

.taskForm textarea {
    height: 100%;
    width: 100%;
}

.taskList {
    margin-bottom: 2rem;
}

.taskList__head {
    padding-bottom: .5rem;
    border-bottom: 1px solid #212529;
}

.taskList__head > div {
    display: flex;
    font-weight: 600;
}

.task {
    border-bottom: 1px solid #212529;
    padding: .5rem 0;
}

.task:nth-child(odd) {
    background-color: #ffed49;
}

.task:last-of-type {
    border-bottom: none;
}

.taskText {
    width: 100%;
}

.pagination {
    padding-top: .5rem;
}

.pagination__item {
    margin-right: .5rem;
    font-weight: 600;
}

.pagination__item > svg {
    vertical-align: middle;
}

.pagination__item.active {
    pointer-events: none;
    color: #212529;
}

.pagination__item:hover {
    text-decoration: none;
}